.section{
  padding-top: 40px;
  padding-bottom: 40px;
}
.section-main-heading{
  color: brown;
  font-size: 26px;
}
.underline{
  height: 04px;
  width: 4rem;
  background-color:black;
  margin-top: 10px;
  margin-bottom: 10px;
 

}
.bg-c-light{
  background-color: #f2f2f2;
}
.Navbar-image img{
  height:50px;
  width:80px;
 
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.nav-link {
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  font-size: 15px;

}
